bin/*
*.o
*.so
/src/psa_functions_codes.h
/src/psa_sim_crypto_client.c
/src/psa_sim_crypto_server.c
/src/psa_sim_serialise.c
/src/psa_sim_serialise.h
test/psa_ff_bootstrap.c
test/psa_manifest/*
test/client
test/partition
cscope.out
*.orig
*.swp
*.DS_Store
*psa_ff_bootstrap_*
